{:mvn/repos {"redplanetlabs" {:url "https://nexus.redplanetlabs.com/repository/maven-public-releases"}}

 :paths ["src" "resources" "config"]
 
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner 
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.5"
                                                :git/sha "2a21b7a"}}
          :ns-default build}
  :dev {:extra-deps {djblue/portal {:mvn/version "0.57.3"}}
        :jvm-opts [#_"-agentpath:/Applications/YourKit-Java-Profiler-2024.3.app/Contents/Resources/bin/mac/libyjpagent.dylib=disablestacktelemetry,exceptions=disable,delay=10000"
                   
                   "-XX:+UseZGC"
                   "-XX:+ZGenerational"
                   "-XX:MaxRAMPercentage=50"
                   "-Djdk.attach.allowAttachSelf"]}}
 ;; https://nrepl.org/nrepl/installation.html#jvmti

 :jvm-opts ["-XX:+UseZGC" "-XX:+ZGenerational" "-XX:MaxRAMPercentage=75"]
 
 :deps
 {ch.qos.logback/logback-classic                    {:mvn/version "1.5.0"}
  org.clojure/clojure                               {:mvn/version "1.12.0"}
  io.github.clingen-data-model/genegraph-framework
  {:git/sha "33952cfcad5122f9dc32a3f52728e70b48c257ac"}
  com.walmartlabs/lacinia-pedestal {:mvn/version "1.3"}
  #_{:git/sha "075bcdcbb0969fe4dbd15770f29b7273ff872b78"
     :git/url "https://github.com/walmartlabs/lacinia-pedestal.git"}
  hato/hato                                         {:mvn/version "0.9.0"}
  org.clojure/data.csv                              {:mvn/version "1.0.1"}
  org.clojure/data.zip {:mvn/version "1.0.0"}
  org.clojure/data.xml {:mvn/version "0.0.8"}
  }
 }

