[{:name "http://www.w3.org/2004/02/skos/core",
  :target "skos.rdf",
  :format :genegraph.framework.storage.rdf/rdf-xml}
 {:name "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
  :target "rdf.ttl",
  :format :genegraph.framework.storage.rdf/turtle}
 {:name "http://www.w3.org/2011/content#",
  :target "content.rdf",
  :format :genegraph.framework.storage.rdf/rdf-xml}
 {:name "https://www.w3.org/2002/07/owl",
  :target "owl.ttl",
  :format :genegraph.framework.storage.rdf/turtle}
 {:name "http://www.w3.org/2000/01/rdf-schema#",
  :target "rdf-schema.ttl",
  :format :genegraph.framework.storage.rdf/turtle}
 {:name "http://purl.obolibrary.org/obo/so.owl",
  :target "so.owl",
  :format :genegraph.framework.storage.rdf/rdf-xml}
 {:name "http://www.ebi.ac.uk/efo/efo-base.owl"
  :target "efo-base.owl",
  :format :genegraph.framework.storage.rdf/rdf-xml}
 {:name "http://purl.obolibrary.org/obo/mondo.owl",
  :target "mondo.owl",
  :format :genegraph.framework.storage.rdf/rdf-xml}
 {:name "http://purl.obolibrary.org/obo/hp.owl",
  :target "hp.owl",
  :format :genegraph.framework.storage.rdf/rdf-xml}
 {:name "https://genegraph.app/resources",
  :target "genegraph-resources.ttl",
  :format :genegraph.framework.storage.rdf/turtle}
 {:name "https://www.genenames.org/",
  :target "hgnc.json",
  :format :genegraph.api.base/hgnc
  :action :genegraph.api.base/load-genes}
 {:name
  "https://ncbi.nlm.nih.gov/genomes/GCF_000001405.40_GRCh38.p14_genomic.gff",
  :target "GRCh38.gff.gz",
  :format :genegraph.api.base/gff,
  :action :genegraph.api.base/load-gff}
 {:name
  "https://ncbi.nlm.nih.gov/genomes/GCF_000001405.25_GRCh37.p13_genomic.gff",
  :target "GRCh37.gff.gz",
  :format :genegraph.api.base/gff,
  :action :genegraph.api.base/load-gff}
 {:name "https://affils.clinicalgenome.org/",
  :target "affils.json",
  :format :genegraph.api.base/affils-json,
  :headers {"X-Api-Key" :affils-service-key}}
 {:name "https://www.ncbi.nlm.nih.gov/clinvar/submitters",
  :target "clinvar-submitters.txt",
  :format :genegraph.api.base/clinvar-submitters}
 {:name "http://dataexchange.clinicalgenome.org/gci-express",
  :target "gci-express-with-entrez-ids.json",
  :format :genegraph.api.base/gci-express}
 {:name "https://thegencc.org/",
  :target "gencc.csv",
  :format :genegraph.api.base/gencc}
 {:name "https://www.ncbi.nlm.nih.gov/clinvar/",
  :target "clinvar.xml.gz",
  :format :genegraph.api.base/clinvar,
  :action :genegraph.api.base/load-clinvar}]
